/* Style du premier header avec les informations de l'utilisateur */
#user-header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#user-header .header-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#user-header .money,
#user-header .username {
    font-size: 16px;
}

/* Style du second header avec les boutons de navigation */
#navigation-header {
    background-color: #444;
    padding: 15px 20px;
    text-align: center;
}

#navigation-header .btn {
    color: white;
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #666;
    border-radius: 5px;
    text-decoration: none;
}

#navigation-header .btn:hover {
    background-color: #888;
}