<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Menu Principal</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/header.css">
    <script src="/js/header.js" defer></script>

</head>

<div>
    <header id="user-header">
        <div class="header-content">
            <div class="money">
                💵 <span id="player-money">Chargement...</span>
            </div>
            <div class="username">
                <span id="player-username">Chargement...</span>
            </div>
        </div>
    </header>
    <body>



    <div class="container">
        <h1>Bienvenue</h1>
        <div class="button-group">
            <a href="/buyCards" class="btn acheter">🛒 Acheter</a>
            <a href="/sellCards" class="btn vendre">💰 Vendre</a>
            <a href="#" class="btn jouer">🎮 Jouer</a>
        </div>
    </div>
    </body>
</div>

</html>
